@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --bg1: #1D81EE;
    --bg2: #7F58C7;
    --text: #26ade4;
  }
  body{
    background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
    font-family: 'Montserrat', sans-serif;
  }
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .input_div div{
    display: inline-block;
  }
  .login_container{
    width: 360px;
    height: 470px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .login_container_logo img{
    margin: 20px 0;
    width: 35%;
    border-radius: 50%;
  }
  h3{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 25px;
  }
  .login_container1{
    width: 360px;
    height: 450px;
    background: #fff;
    border-radius: 25px;
  }
  .input_div{
    margin-bottom: 25px;
  }
  .form-text{
    margin-bottom: 15px;
    position: relative;
  }
  .input{
    height: 50px;
    width: 300px;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    color: #202124;
    transition: all 0.3s ease-in-out;
  }
  label{
    position: absolute;
    padding: 0px 5px;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  .form-text input:focus{
    border: 2px solid #1a73e8;
  }
  .form-text input:focus + label, .form-text input:valid +label{
    top: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #1a73e8;
  }
  .btn{
    height: 50px;
    width: 30%;
    margin: 15px 0 50px;
    border: none;
    border-radius: 10px;
    background: var(--bg2);
    font-size: 17px;
    font-weight: bold;
    color: #fff ;
    position: relative;
  }
  .btn:hover{
    cursor: pointer;
    background-color: #024ba6;
  }
  input.btn:hover{
    opacity: 0.85s;
  }
  p{
    text-align: left;
    padding: 10px 0 0 10px;
    font-size: 14px;
  }